@using Data_QLThuChi.Entities;

@model IEnumerable<KhoanThu>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Khoản Thu Trong Ngày @Session["NgayXemThuChi"]</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="row">

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-3">
                                <div class="contact-box">
                                    <a class="row" href="profile.html">
                                        <div class="col-4">
                                            <div class="text-center">
                                                <img alt="image" class="rounded-circle m-t-xs img-fluid" src="~/Content/img/thu.png">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <h3><strong>@item.loaikt</strong></h3>
                                            <p><i class="fa fa-clock-o"></i> @item.ngay.ToString("dd-MM-yyyy")</p>
                                            <p><i class="fa fa-check-square-o"></i> <strong>@item.ghichu</strong></p>
                                            <p><i class="fa fa-money"></i> @item.sotien.ToString("N0")</p>
                                            <p><i class="fa fa-address-card-o"></i> @item.dentaikhoan</p>
                                        </div>
                                    </a>
                                    <div class="contact-box-footer">
                                        <div class="m-t-xs btn-group">
                                            <a href="@Url.Action("SuaKhoanThu", "KhoanThu", new {@makt = @item.makt})" class="btn btn-xs btn-white"><i class="fa fa-pencil-square-o"></i> Sửa </a>
                                            <a href="@Url.Action("Delete", "KhoanThu", new {@makt = @item.makt})" class="btn btn-xs btn-white" onclick="return confirm('Bạn chắc chắn muốn xóa?')"><i class="fa fa-trash-o"></i> Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
